.coaches-inner
  #coach-alena.coach
    .inner
      .title
        .name Алёна
        .surname Красновская
        .status тренер-методист
        .info
          Проводит занятия на африканских барабанах для детей, организовывает барабанные круги в детских домах.
          %br
          Разрабатывает методику ведения круга и музыкальные упражнения для детей.
          %br
          Обладает международной сертификацией тренера-ведущего барабанных кругов.
  #coach-matthew.coach
    .inner
      .title
        .name Матвей
        .surname Фридман
        .status ведущий тренер
        .info
          Владеет всеми известными видами перкуссионных инструментов. Обладает международной сертификацией тренера-ведущего барабанных кругов.
          %br
          Более четырех лет проводит барабанные тренинги в Киеве, в том числе для крупных известных компаний и организаций.
  #coach-dima.coach
    .inner
      .title
        .name Дима
        .surname Воронин
        .status тренер
        .info
          С 2008 года занимается перкуссионными барабанами. Принимал участие во многих музыкальных фестивалях Европы. Более трёх лет проводит барабанные тренинги по всей Украине и за рубежом.
          %br
          Обладает международной сертификацией тренера-ведущего барабанных кругов.