.footer
  %ul#menu
    %li{:data => {menuanchor: "page-about"}}
      %a{href: "#page-about"} О нас
    %li{:data => {menuanchor: "page-video"}}
      %a{href: "#page-video"} Видео
    %li{:data => {menuanchor: "page-trainings"}}
      %a{href: "#page-trainings"} Программы
    %li{:data => {menuanchor: "page-coaches"}}
      %a{href: "#page-coaches"} Тренеры
    %li{:data => {menuanchor: "page-clients"}}
      %a{href: "#page-clients"} Клиенты
    %li{:data => {menuanchor: "page-history"}}
      %a{href: "#page-history"} История
    %li{:data => {menuanchor: "page-contacts"}}
      %a{href: "#page-contacts"} Контакты
  %ul.additional-menu
    %li
      %a{href: "http://facebook.com/godopata.school"} facebook
    %li
      %a{href: "mailto:matthewgodopata@gmail.com"} email
    %li
      %a{href: "DrumCircle Presentation.pdf"} presentation