=image_tag "logo-light.png", class: "logo"
.slide
  .wrapper.wide.ptm
    .mtl.ptl
      .trainings-left
        %h1.mbl Программы
        %h2 cпециально разработанные и ориентированные для разных задач:
      .trainings-right
        .row
          .col1of3
            %a.training-link.active{href: "#page-trainings/training-1"}
              .inner
                %img{src: "images/trainings/1.png"}
              .training-title Рождение Ритма
          .col1of3
            %a.training-link.active{href: "#page-trainings/training-2"}
              .inner
                %img{src: "images/trainings/2.png"}
              .training-title
                По-Барабану Шоу<br />(конференц - стиль)
          .col1of3
            %a.training-link.active{href: "#page-trainings/training-3"}
              .inner
                %img{src: "images/trainings/3.png"}
              .training-title ТОП-дирижер
          .col1of3{style: "clear: left;"}
            %a.training-link.active{href: "#page-trainings/training-4"}
              .inner
                %img{src: "images/trainings/4.png"}
              .training-title Бэнд Компании
          .col1of3
            %a.training-link.active{href: "#page-trainings/training-kids"}
              .inner
                %img{src: "images/trainings/5.png"}
              .training-title Детская Программа
          .col1of3
            %a.training-link.active{href: "#page-trainings/training-5"}
              .inner
                %img{src: "images/trainings/6.png"}
              .training-title Африка Под Ключ

.slide.trainings-1{:data => {anchor: "training-1"}}
  .wrapper.wide
    .sub-inner
      %h1 Программа «Рождение Ритма»
      %p.mbm
        Это  ЯРКОЕ СОБЫТИЕ  по формированию команды, которое ЗАРЯЖАЕТ, ВДОХНОВЛЯЕТ, ОБЪЕДИНЯЕТ!
        Отличная возможность «отключить мозг», что способствует быстрому восстановлению сил, пробуждению внутренней  творческой энергии, эмоциональному подъему каждого участника.
        %br
        Подойдет для проведения корпоративных праздников
        %br
        Тренинг помогает выявить конфликтность среди сотрудников и научиться преодолевать их в игровой форме.
        %br
        Программа ориентирована на  любого сотрудника в компании.
        %br
        Количество участников от 10 до 300 человек. Продолжительность от 45 мин. до 1,5 часа.
      %a.button.sub-content-back.active{href: "#page-trainings"} < назад

.slide.trainings-2{:data => {anchor: "training-2"}}
  .wrapper.wide
    .sub-inner
      %h2 «По-Барабану» Шоу (конференц - стиль)
      %p.mbm
        Программа включает в себя выступление группы  барабанщиков и афротанцоров, где присутствующие становятся участниками увлекательного шоу. Создаст незабываемую атмосферу драйва , отлично подойдет для торжеств и праздников компании,  украсит любую конференцию или семинар, поможет  укрепить лояльность сотрудников к компании.
        %br
        Поскольку музыка - универсальный язык, то эта программа подойдет  компаниям с иностранными сотрудниками.
        %br
        Шоу может быть проведено на английском языке.
        %br
        Рассчитано от 50 до 1500 участников.
        %br
        Возможно проведение в 2-х форматах:
        %br
        1 – Участники играют  на барабанах под руководством ведущего.
        %br
        2 – Зал участвует в шоу без инструментов, а с помощью музыкальной импровизации
        %a{href: "http://www.youtube.com/watch?v=Pd9xMdSzc20", target: "_blank"} "body percussion"
        %br
        Продолжительность 25 - 40мин.
      %a.button.sub-content-back.active{href: "#page-trainings"} < назад

.slide.trainings-3{:data => {anchor: "training-3"}}
  .wrapper.wide
    .sub-inner
      %h1 Программа «ТОП-дирижер»
      %p.mbm
        Программа  ориентирована на руководителей среднего звена  и топ менеджеров.
        %br
        Направлена на развитие лидерских качеств в сочетании с креативным мышлением.  Тренинг помогает  в непривычной ситуации  выработать свой управленческий стиль, научиться  «выходить за рамки» личных стереотипов  и  внутренних ограничений ,чувствовать себя уверенно, лично управляя барабанным кругом. К концу программы каждый из участников сможет самостоятельно управлять своим созданным мини-оркестром.
        %br
        Эта программа рассчитана на небольшие группы от 5 до 20 человек. Продолжительность  2,5 - 3 часа.
      %a.button.sub-content-back.active{href: "#page-trainings"} < назад

.slide.trainings-4{:data => {anchor: "training-4"}}
  .wrapper.wide
    .sub-inner
      %h1 Программа «Бэнд Компании»
      %p.mbm
        Если вы хотите украсить  корпоративное мероприятие  -  «День рождение компании»  или необычным образом поздравить шефа  - предлагаем  подготовить свой уникальный шоу номер с игрой на барабанах и не только.
        %br
        Программа прекрасно подойдет для небольшого коллектива.(5-12 участников).
        %br
        Наша команда разработает для Вас шоу номер, в котором главные действующие артисты -это вы.
        %br
        Мы обучим Вас игре на африканских барабанах джембе и дунун и поставим не менее яркий ,танцевальный номер.
        Буквально за  4-6 репетиций наши тренеры  подготовят Вашу команду к выступлению.
        %br
        Незабываемые впечатления, как от процесса подготовки, так и от самого выступления гарантируем!
      %a.button.sub-content-back.active{href: "#page-trainings"} < назад

.slide.trainings-kids{:data => {anchor: "training-kids"}}
  .wrapper.wide
    .sub-inner
      %h2 Детская Программа
      %p.mbm
        Если  Вы ищете необычный вариант  проведения детского праздника, обратите внимание на нашу Детскую программу !
        %br
        Программа подходит для проведения  корпоративных мероприятий  для детей сотрудников, детских дней рождений, семейных, и новогодних праздников.
        %br
        На традиционных африканских барабанах в игровой форме дети всех возрастов  играют вместе ритмы народов Мира. Каждый ребенок может по полной  проявить свои способности и музыкальные задатки, которые есть в каждом.
        %br
        Это будет незабываемый подарок для вашего ребенка, яркое необычное событие для всей семьи!
        %br
        Дополнительно вы можете приобрести у нас подарочный барабан для вашего ребенка.
        %br
        Детский барабанный круг — это круг мальчишек и девчонок от 5 до 50 участников.
        %br
        Продолжительность
        %br
        4-6 лет, -  15-20 мин.,
        %br
        7-10 лет - 30мин.,
        %br
        11-13 лет - 60 мин.
      %a.button.sub-content-back.active{href: "#page-trainings"} < назад

.slide.trainings-5{:data => {anchor: "training-5"}}
  .wrapper.wide
    .sub-inner
      %h1 Программа «Африка Под Ключ
      .mvm
        %p Цели мероприятия:
        %ul.dotted
          %li Укрепление неформальных связей, направленных на удержание ключевых сотрудников.
          %li Поддержать корпоративные ценности через легкую развлекательную форму. Стимулировать коллективное творчество, что в рабочей обстановке может воплотиться в новые решения, проекты и др..
          %li Создать настроение  праздника и атмосферно  в африканской тематике провести время в кругу коллег.
          %li Улучшить  рабочие коммуникации.
          %li Сформировать чувство причастности к своему коллективу/Компании.
      %a.button.sub-content-back.active{href: "#page-trainings"} < назад