@charset "UTF-8";
/*---------------------------------------------------------------- */
/* Linking all pie components together */
/*---------------------------------------------------------------- */
/* line 1, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/normalize.sass */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/* line 15, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/normalize.sass */
audio,
canvas,
video {
  display: inline-block; }

/* line 20, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/normalize.sass */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 25, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/normalize.sass */
[hidden],
template {
  display: none; }

/* line 29, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/normalize.sass */
html {
  font-family: sans-serif;
  font-size: 1em;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/* line 35, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/normalize.sass */
body {
  margin: 0; }

/* line 38, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/normalize.sass */
a {
  background: transparent; }

/* line 41, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/normalize.sass */
a:focus {
  outline: thin dotted; }

/* line 44, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/normalize.sass */
a:active,
a:hover {
  outline: 0; }

/* line 48, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/normalize.sass */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 52, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/normalize.sass */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 55, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/normalize.sass */
b,
strong {
  font-weight: bold; }

/* line 59, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/normalize.sass */
dfn {
  font-style: italic; }

/* line 62, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/normalize.sass */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/* line 67, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/normalize.sass */
mark {
  background: yellow;
  color: black; }

/* line 71, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/normalize.sass */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/* line 78, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/normalize.sass */
pre {
  white-space: pre-wrap; }

/* line 81, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/normalize.sass */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/* line 84, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/normalize.sass */
small {
  font-size: 80%; }

/* line 87, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/normalize.sass */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 94, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/normalize.sass */
sup {
  top: -0.5em; }

/* line 97, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/normalize.sass */
sub {
  bottom: -0.25em; }

/* line 100, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/normalize.sass */
img {
  border: 0; }

/* line 103, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/normalize.sass */
svg:not(:root) {
  overflow: hidden; }

/* line 106, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/normalize.sass */
figure {
  margin: 0; }

/* line 109, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/normalize.sass */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 114, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/normalize.sass */
legend {
  border: 0;
  padding: 0; }

/* line 118, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/normalize.sass */
button,
input,
select option,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

/* line 126, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/normalize.sass */
button,
select {
  text-transform: none; }

/* line 130, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/normalize.sass */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

/* line 137, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/normalize.sass */
button[disabled],
html input[disabled] {
  cursor: default; }

/* line 141, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/normalize.sass */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/* line 146, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/normalize.sass */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* line 152, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/normalize.sass */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 156, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/normalize.sass */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 161, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/normalize.sass */
textarea {
  overflow: auto;
  vertical-align: top; }

/* line 165, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/normalize.sass */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 4, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/grid.sass */
.row {
  *zoom: 1; }
  /* line 6, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/grid.sass */
  .row:after {
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden; }

/* line 14, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/grid.sass */
.last-col {
  display: table-cell;
  float: none;
  width: auto;
  _margin-right: -3px;
  _left: -3px;
  _position: relative;
  *display: block;
  *zoom: 1; }
  /* line 23, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/grid.sass */
  .last-col:after {
    content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
    clear: both;
    display: block;
    height: 0 !important;
    line-height: 0;
    visibility: hidden; }

/* line 31, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/grid.sass */
.col1of2,
.col1of3, .col2of3,
.col1of4, .col2of4, .col3of4,
.col1of5, .col2of5, .col3of5, .col4of5,
.col1of6, .col2of6, .col3of6, .col4of6, .col5of6 {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0; }

/* line 42, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/grid.sass */
.col1of2, .col2of4, .col3of6 {
  width: 50%; }

/* line 45, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/grid.sass */
.col1of3, .col2of6 {
  width: 33.33333%; }

/* line 48, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/grid.sass */
.col2of3, .col4of6 {
  width: 66.66666%; }

/* line 51, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/grid.sass */
.col1of4 {
  width: 25%; }

/* line 54, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/grid.sass */
.col3of4 {
  width: 75%; }

/* line 57, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/grid.sass */
.col1of5 {
  width: 20%; }

/* line 60, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/grid.sass */
.col2of5 {
  width: 40%; }

/* line 63, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/grid.sass */
.col3of5 {
  width: 60%; }

/* line 66, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/grid.sass */
.col4of5 {
  width: 80%; }

/* line 69, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/grid.sass */
.col1of6 {
  width: 16.66666%; }

/* line 72, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/grid.sass */
.col5of6 {
  width: 83.33333%; }

@media (max-width: 768px) {
  /* line 77, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/grid.sass */
  .row.responsive .col1of2,
  .row.responsive .col1of3, .row.responsive .col2of3,
  .row.responsive .col1of4, .row.responsive .col2of4, .row.responsive .col3of4,
  .row.responsive .col1of5, .row.responsive .col2of5, .row.responsive .col3of5, .row.responsive .col4of5,
  .row.responsive .col1of6, .row.responsive .col2of6, .row.responsive .col3of6, .row.responsive .col4of6, .row.responsive .col5of6 {
    width: 100%;
    float: none;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px; } }
/* line 5, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/spaces.sass */
.pts, .pvs, .pas {
  padding-top: 10px; }

/* line 8, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/spaces.sass */
.ptm, .pvm, .pam {
  padding-top: 20px; }

/* line 11, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/spaces.sass */
.ptl, .pvl, .pal {
  padding-top: 30px; }

/* line 14, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/spaces.sass */
.prs, .phs, .pas {
  padding-right: 10px; }

/* line 17, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/spaces.sass */
.prm, .phm, .pam {
  padding-right: 20px; }

/* line 20, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/spaces.sass */
.prl, .phl, .pal {
  padding-right: 30px; }

/* line 23, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/spaces.sass */
.pbs, .pvs, .pas {
  padding-bottom: 10px; }

/* line 26, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/spaces.sass */
.pbm, .pvm, .pam {
  padding-bottom: 20px; }

/* line 29, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/spaces.sass */
.pbl, .pvl, .pal {
  padding-bottom: 30px; }

/* line 32, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/spaces.sass */
.pls, .phs, .pas {
  padding-left: 10px; }

/* line 35, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/spaces.sass */
.plm, .phm, .pam {
  padding-left: 20px; }

/* line 38, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/spaces.sass */
.pll, .phl, .pal {
  padding-left: 30px; }

/* line 41, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/spaces.sass */
.mts, .mvs, .mas {
  margin-top: 10px; }

/* line 44, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/spaces.sass */
.mtm, .mvm, .mam {
  margin-top: 20px; }

/* line 47, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/spaces.sass */
.mtl, .mvl, .mal {
  margin-top: 30px; }

/* line 50, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/spaces.sass */
.mrs, .mhs, .mas {
  margin-right: 10px; }

/* line 53, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/spaces.sass */
.mrm, .mhm, .mam {
  margin-right: 20px; }

/* line 56, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/spaces.sass */
.mrl, .mhl, .mal {
  margin-right: 30px; }

/* line 59, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/spaces.sass */
.mbs, .mvs, .mas {
  margin-bottom: 10px; }

/* line 62, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/spaces.sass */
.mbm, .mvm, .mam {
  margin-bottom: 20px; }

/* line 65, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/spaces.sass */
.mbl, .mvl, .mal {
  margin-bottom: 30px; }

/* line 68, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/spaces.sass */
.mls, .mhs, .mas {
  margin-left: 10px; }

/* line 71, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/spaces.sass */
.mlm, .mhm, .mam {
  margin-left: 20px; }

/* line 74, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/spaces.sass */
.mll, .mhl, .mal {
  margin-left: 30px; }

/* line 1, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/helpers.sass */
.right {
  float: right; }

/* line 4, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/helpers.sass */
.left {
  float: left; }

/* line 7, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/helpers.sass */
.center {
  margin-left: auto;
  margin-right: auto; }

/* line 11, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/helpers.sass */
.relative {
  position: relative; }

/* line 14, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/helpers.sass */
.hidden {
  display: none; }

/* line 17, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/helpers.sass */
.by-left {
  text-align: left; }

/* line 20, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/helpers.sass */
.by-right {
  text-align: right; }

/* line 23, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/base/helpers.sass */
.by-center {
  text-align: center; }

@font-face {
  font-family: "Minion";
  src: url("/fonts/MinionPro-Regular.eot");
  src: local("☺"), url("/fonts/MinionPro-Regular.woff") format("woff"), url("/fonts/MinionPro-Regular.ttf") format("truetype"), url("/fonts/MinionPro-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 9, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/components/_typography.sass */
html {
  font-size: 1em; }

/* line 12, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/components/_typography.sass */
body {
  font-family: "Minion", Verdana, Geneva, sans-serif;
  font-size: 18px;
  line-height: 1.321em;
  color: #555555; }

/* line 18, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/components/_typography.sass */
h1, h2, h3, h4, h5, h6 {
  margin: 0; }

/* line 21, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/components/_typography.sass */
h1 {
  font-size: 50px;
  line-height: 1.13em;
  color: #484848; }
  @media only screen and (max-width: 979px) {
    /* line 21, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/components/_typography.sass */
    h1 {
      font-size: 35px; } }
  @media only screen and (max-width: 579px) {
    /* line 21, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/components/_typography.sass */
    h1 {
      font-size: 18px;
      line-height: 1em; } }

/* line 31, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/components/_typography.sass */
h2 {
  font-size: 35px;
  line-height: 1em;
  color: #484848; }
  @media only screen and (max-width: 979px) {
    /* line 31, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/components/_typography.sass */
    h2 {
      font-size: 20px; } }
  @media only screen and (max-width: 579px) {
    /* line 31, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/components/_typography.sass */
    h2 {
      font-size: 16px;
      line-height: 1em; } }

/* line 41, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/components/_typography.sass */
h3 {
  font-size: 1.5rem; }

/* line 44, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/components/_typography.sass */
h4 {
  font-size: 1.125rem;
  line-height: 2rem; }

/* line 48, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/components/_typography.sass */
h5 {
  font-size: 1rem;
  line-height: 1rem; }

/* line 52, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/components/_typography.sass */
h6 {
  font-size: 0.8125rem;
  text-transform: uppercase;
  line-height: 1rem; }

/* line 57, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/components/_typography.sass */
p {
  margin: 0 0 1rem 0; }

/* line 60, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/components/_typography.sass */
strong {
  font-weight: 700; }

/* line 63, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/components/_typography.sass */
small {
  font-size: 0.75rem; }

/* line 66, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/components/_typography.sass */
a {
  color: #e87e2a; }
  /* line 68, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/components/_typography.sass */
  a:hover {
    color: #cb6228; }

/* line 71, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/components/_typography.sass */
ul, ol {
  margin-left: 1.5rem;
  padding-left: 0; }

/**
 * fullPage 1.6.7
 * https://github.com/alvarotrigo/fullPage.js
 * MIT licensed
 *
 * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 */
/* line 9, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/vendor/jquery.fullPage.css */
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

/* line 15, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/vendor/jquery.fullPage.css */
#superContainer {
  height: 100%;
  position: relative;
  /* Touch detection for Windows 8 */
  -ms-touch-action: none; }

/* line 22, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/vendor/jquery.fullPage.css */
.section {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 28, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/vendor/jquery.fullPage.css */
.slide {
  float: left; }

/* line 31, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/vendor/jquery.fullPage.css */
.slide, .slidesContainer {
  height: 100%;
  display: block; }

/* line 35, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/vendor/jquery.fullPage.css */
.slides {
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

/* line 44, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/vendor/jquery.fullPage.css */
.section.table, .slide.table {
  display: table;
  width: 100%; }

/* line 48, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/vendor/jquery.fullPage.css */
.tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%; }

/* line 54, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/vendor/jquery.fullPage.css */
.slidesContainer {
  float: left;
  position: relative; }

/* line 58, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/vendor/jquery.fullPage.css */
.controlArrow {
  position: absolute;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px; }

/* line 67, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/vendor/jquery.fullPage.css */
.controlArrow.prev {
  left: 15px;
  width: 0;
  border-width: 38.5px 34px 38.5px 0;
  border-color: transparent #fff transparent transparent; }

/* line 73, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/vendor/jquery.fullPage.css */
.controlArrow.next {
  right: 15px;
  border-width: 38.5px 0 38.5px 34px;
  border-color: transparent transparent transparent #fff; }

/* line 78, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/vendor/jquery.fullPage.css */
.scrollable {
  overflow: scroll; }

/* line 81, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/vendor/jquery.fullPage.css */
.easing {
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out; }

/* line 87, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/vendor/jquery.fullPage.css */
#fullPage-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1; }

/* line 94, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/vendor/jquery.fullPage.css */
#fullPage-nav.right {
  right: 17px; }

/* line 97, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/vendor/jquery.fullPage.css */
#fullPage-nav.left {
  left: 17px; }

/* line 100, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/vendor/jquery.fullPage.css */
.fullPage-slidesNav {
  position: absolute;
  z-index: 4;
  left: 50%;
  opacity: 1; }

/* line 106, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/vendor/jquery.fullPage.css */
.fullPage-slidesNav.bottom {
  bottom: 17px; }

/* line 109, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/vendor/jquery.fullPage.css */
.fullPage-slidesNav.top {
  top: 17px; }

/* line 113, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/vendor/jquery.fullPage.css */
#fullPage-nav ul,
.fullPage-slidesNav ul {
  margin: 0;
  padding: 0; }

/* line 118, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/vendor/jquery.fullPage.css */
#fullPage-nav li,
.fullPage-slidesNav li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative; }

/* line 125, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/vendor/jquery.fullPage.css */
.fullPage-slidesNav li {
  display: inline-block; }

/* line 129, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/vendor/jquery.fullPage.css */
#fullPage-nav li a,
.fullPage-slidesNav li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none; }

/* line 139, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/vendor/jquery.fullPage.css */
#fullPage-nav li .active span,
.fullPage-slidesNav .active span {
  background: #333; }

/* line 143, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/vendor/jquery.fullPage.css */
#fullPage-nav span,
.fullPage-slidesNav span {
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  border: 1px solid #000;
  background: rgba(0, 0, 0, 0);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  z-index: 1; }

/* line 156, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/vendor/jquery.fullPage.css */
.fullPage-tooltip {
  position: absolute;
  color: #fff;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  top: -2px; }

/* line 163, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/vendor/jquery.fullPage.css */
.fullPage-tooltip.right {
  right: 20px; }

/* line 166, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/vendor/jquery.fullPage.css */
.fullPage-tooltip.left {
  left: 20px; }

/* line 1, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_footer.sass */
.footer {
  width: 100%;
  padding: 1px 0 3px;
  position: fixed;
  background: white;
  left: 0;
  bottom: 0;
  z-index: 6;
  line-height: 1em;
  font-size: 15px; }

/* line 12, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_footer.sass */
#menu, .additional-menu {
  float: left;
  margin: 5px 0 0 10px; }
  /* line 16, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_footer.sass */
  #menu li, .additional-menu li {
    display: inline-block; }
    /* line 18, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_footer.sass */
    #menu li:before, .additional-menu li:before {
      content: "|";
      display: inline; }
    /* line 21, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_footer.sass */
    #menu li:first-child:before, .additional-menu li:first-child:before {
      display: none; }
    /* line 24, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_footer.sass */
    #menu li a, .additional-menu li a {
      display: inline-block;
      text-transform: uppercase;
      padding: 2px 5px 0;
      text-decoration: none;
      line-height: 1em;
      font-size: 15px;
      color: #787777;
      -webkit-transition: All 0.5s ease;
      -o-transition: All 0.5s ease;
      transition: All 0.5s ease; }
      @media only screen and (max-width: 979px) {
        /* line 24, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_footer.sass */
        #menu li a, .additional-menu li a {
          font-size: 12px; } }
    /* line 36, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_footer.sass */
    #menu li.active a, #menu li a:hover, .additional-menu li.active a, .additional-menu li a:hover {
      background: #787777;
      color: white; }

/* line 40, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_footer.sass */
.additional-menu {
  float: right;
  margin: 5px 10px 0; }
  @media only screen and (max-width: 767px) {
    /* line 40, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_footer.sass */
    .additional-menu {
      display: none; } }

/* line 1, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/buttons.sass */
.button, a.button {
  color: white;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  background: #e87e2a;
  border-radius: 10px;
  padding: 0 17px;
  transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -webkit-transition: All 0.5s ease;
  -o-transition: All 0.5s ease; }

/* line 14, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/buttons.sass */
.button:hover {
  background: #cb6228;
  color: white; }

/* line 1, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
.section, .slide {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat; }

/* line 6, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
.page-home {
  background-image: url("/images/bg/home.jpg"); }

/* line 9, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
.page-about {
  background-image: url("/images/bg/about.jpg"); }
  @media only screen and (max-width: 579px) {
    /* line 12, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
    .page-about .wrapper {
      margin-top: 0;
      padding-top: 0; }
    /* line 15, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
    .page-about .col1of2 {
      width: 100%;
      float: none; } }

/* line 19, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
.page-video {
  background-image: url("/images/bg/video.jpg"); }
  /* line 22, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
  .page-video .logo {
    display: none; }

/* line 25, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
.page-trainings {
  background-image: url("/images/bg/trainings.jpg"); }
  /* line 27, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
  .page-trainings .trainings-left, .page-trainings .trainings-right {
    margin-top: 70px; }
  @media only screen and (max-width: 979px) {
    /* line 30, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
    .page-trainings .logo {
      display: none; }
    /* line 32, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
    .page-trainings .trainings-left {
      text-align: center;
      margin-bottom: 40px; }
      /* line 35, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
      .page-trainings .trainings-left h1 {
        margin-bottom: 0; }
    /* line 37, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
    .page-trainings .trainings-left, .page-trainings .trainings-right {
      margin-top: 0;
      width: 100%;
      float: none; } }

/* line 43, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
.page-coaches {
  background-image: url("/images/bg/video.jpg"); }

/* line 46, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
.page-clients {
  background-image: url("/images/bg/clients.jpg"); }
  @media only screen and (max-width: 979px) {
    /* line 49, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
    .page-clients .logo, .page-clients .clients-left {
      display: none; } }

/* line 53, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
.page-history {
  background-image: url("/images/bg/history.jpg"); }
  @media only screen and (max-width: 767px) {
    /* line 56, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
    .page-history .col1of2 {
      width: 100%;
      float: none; } }

/* line 60, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
.page-contacts {
  background-image: url("/images/bg/contacts.jpg"); }

/* line 63, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
.about-inner {
  background-image: url("/images/bg/about-1.jpg"); }

/* line 66, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
.page-about .controlArrow {
  display: none !important; }

/* line 69, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
.wrapper {
  width: 900px;
  *zoom: 1;
  margin-left: auto;
  margin-right: auto; }
  /* line 7, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/mixins/_vendor_prefixes.sass */
  .wrapper:after {
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden; }
  @media only screen and (max-width: 979px) {
    /* line 69, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
    .wrapper {
      width: 740px; } }
  @media only screen and (max-width: 767px) {
    /* line 69, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
    .wrapper {
      width: 540px; } }
  @media only screen and (max-width: 579px) {
    /* line 69, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
    .wrapper {
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding-left: 20px;
      padding-right: 20px; } }
  /* line 82, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
  .wrapper.wide {
    width: 1100px; }
    @media only screen and (max-width: 1199px) {
      /* line 82, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
      .wrapper.wide {
        width: 900px; } }
    @media only screen and (max-width: 979px) {
      /* line 82, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
      .wrapper.wide {
        width: 740px; } }
    @media only screen and (max-width: 767px) {
      /* line 82, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
      .wrapper.wide {
        width: 540px; } }
    @media only screen and (max-width: 579px) {
      /* line 82, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
      .wrapper.wide {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px; } }
  /* line 95, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
  .wrapper.video-block {
    width: 680px; }
    /* line 97, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
    .wrapper.video-block .sub-inner {
      padding: 20px; }

/* line 100, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
.sub-inner {
  background: rgba(255, 255, 255, 0.7);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 40px; }
  /* line 104, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
  .sub-inner h1 {
    font-size: 40px;
    color: #b22b25; }
    @media only screen and (max-width: 767px) {
      /* line 104, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
      .sub-inner h1 {
        font-size: 30px; } }
    @media only screen and (max-width: 579px) {
      /* line 104, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
      .sub-inner h1 {
        font-size: 18px;
        line-height: 1em; } }
  /* line 112, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
  .sub-inner h2 {
    font-size: 45px;
    color: #b22b25; }
    @media only screen and (max-width: 979px) {
      /* line 112, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
      .sub-inner h2 {
        font-size: 25px; } }
    @media only screen and (max-width: 579px) {
      /* line 112, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
      .sub-inner h2 {
        font-size: 16px;
        line-height: 1em; } }
  /* line 120, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
  .sub-inner p, .sub-inner ul.dotted {
    color: #222222;
    font-size: 18px;
    margin-bottom: 0; }
    @media only screen and (max-width: 979px) {
      /* line 120, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
      .sub-inner p, .sub-inner ul.dotted {
        font-size: 16px;
        line-height: 1em; } }
    /* line 127, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
    .sub-inner p.mbm, .sub-inner p.mvm, .sub-inner ul.dotted.mbm, .sub-inner ul.dotted.mvm {
      margin-bottom: 10px; }
  /* line 129, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
  .sub-inner a {
    text-decoration: none;
    color: #b22b25; }
    /* line 132, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
    .sub-inner a:hover {
      color: #e87e2a; }
    /* line 134, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
    .sub-inner a.button, .sub-inner a.button:hover {
      color: white; }

/* line 137, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
.video-block {
  width: 640px;
  height: 480px;
  margin-left: auto;
  margin-right: auto; }

/* line 142, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
.logo {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -73px;
  top: 2%; }
  @media only screen and (max-width: 579px) {
    /* line 142, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
    .logo {
      display: none; } }

/* line 151, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
.page-video .logo {
  transform: scale(0.7);
  top: 0; }

/* line 155, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
ul.dotted {
  list-style: disc;
  margin: 10px 0 10px 20px; }

/* line 159, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
.controlArrow {
  width: 39px !important;
  height: 72px !important;
  opacity: 0.5;
  -webkit-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  transition: All 0.5s ease;
  border: none;
  margin-top: -36px; }
  /* line 166, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
  .controlArrow:hover {
    opacity: 1; }
  /* line 168, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
  .controlArrow.prev {
    background: url("/images/arrow-left.png") no-repeat; }
  /* line 170, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
  .controlArrow.next {
    background: url("/images/arrow-right.png") no-repeat; }

/* line 173, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
.page-history .wrapper {
  position: relative;
  z-index: 2;
  color: white; }
  /* line 177, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
  .page-history .wrapper h2, .page-history .wrapper .subtitle {
    color: white; }

/* line 180, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
.content-sub-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: url("/images/bg/history-2.jpg") top center no-repeat;
  background-size: cover;
  -webkit-animation: fading 15s infinite;
  -moz-animation: fading 15s infinite;
  -ms-animation: fading 15s infinite;
  -o-animation: fading 15s infinite; }

@-webkit-keyframes fading {
  /* line 195, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
  0%, 100% {
    opacity: 0; }

  /* line 197, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
  50% {
    opacity: 1; } }

@-moz-keyframes fading {
  /* line 201, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
  0%, 100% {
    opacity: 0; }

  /* line 203, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
  50% {
    opacity: 1; } }

@-ms-keyframes fading {
  /* line 207, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
  0%, 100% {
    opacity: 0; }

  /* line 209, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
  50% {
    opacity: 1; } }

@-o-keyframes fading {
  /* line 213, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
  0%, 100% {
    opacity: 0; }

  /* line 215, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
  50% {
    opacity: 1; } }

/* line 218, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
.subtitle {
  color: #787777;
  font-size: 18px; }
  /* line 221, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/_pages.sass */
  .subtitle.bigger {
    font-size: 22.53px; }

/* line 1, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_trainings.sass */
.trainings-left {
  width: 40%;
  float: left; }

/* line 5, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_trainings.sass */
.trainings-right {
  width: 60%;
  float: right; }

/* line 9, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_trainings.sass */
.training-link {
  display: block;
  text-align: center;
  text-decoration: none; }
  /* line 13, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_trainings.sass */
  .training-link .inner {
    position: relative; }
    /* line 15, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_trainings.sass */
    .training-link .inner img {
      display: block;
      margin: 0 auto; }
    /* line 18, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_trainings.sass */
    .training-link .inner:after {
      content: "";
      display: block;
      width: 135px;
      height: 135px;
      background: rgba(0, 0, 0, 0) url("../images/trainings/arrows.png") center center no-repeat;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -67.5px;
      opacity: 0;
      transition: All 0.5s ease;
      -moz-transition: All 0.5s ease;
      -webkit-transition: All 0.5s ease;
      -o-transition: All 0.5s ease; }
  /* line 35, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_trainings.sass */
  .training-link:hover .training-title {
    color: #e87e2a; }
  /* line 37, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_trainings.sass */
  .training-link:hover .inner:after {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.4); }
  /* line 41, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_trainings.sass */
  .training-link .training-title {
    text-align: center;
    margin: 10px 0 30px;
    color: #484848;
    text-decoration: none;
    -webkit-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    transition: All 0.5s ease; }
    @media only screen and (max-width: 979px) {
      /* line 41, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_trainings.sass */
      .training-link .training-title {
        margin: 5px 0 10px; } }
    @media only screen and (max-width: 767px) {
      /* line 41, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_trainings.sass */
      .training-link .training-title {
        font-size: 14px;
        line-height: 1.1em; } }

/* line 53, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_trainings.sass */
.trainings-1 {
  background-image: url("/images/bg/training-1.jpg"); }

/* line 56, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_trainings.sass */
.trainings-2 {
  background-image: url("/images/bg/training-2.jpg"); }

/* line 59, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_trainings.sass */
.trainings-3 {
  background-image: url("/images/bg/training-1.jpg"); }

/* line 62, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_trainings.sass */
.trainings-4 {
  background-image: url("/images/bg/training-4.jpg"); }

/* line 65, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_trainings.sass */
.trainings-kids {
  background-image: url("/images/bg/training-5.jpg"); }

/* line 68, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_trainings.sass */
.trainings-5 {
  background-image: url("/images/bg/training-6.jpg"); }

/* line 1, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_coaches.sass */
.coaches-inner {
  width: 100%;
  height: 100%;
  position: relative;
  background: black; }
  /* line 6, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_coaches.sass */
  .coaches-inner .coach {
    background-position: top center;
    background-repeat: no-repeat;
    width: 33.3333%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -webkit-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    z-index: 1;
    cursor: pointer;
    overflow: hidden; }
    /* line 20, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_coaches.sass */
    .coaches-inner .coach .inner {
      text-align: center;
      width: 100%;
      height: 100%;
      position: relative; }
      /* line 25, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_coaches.sass */
      .coaches-inner .coach .inner .title {
        font-family: "Minion";
        width: 100%;
        position: absolute;
        bottom: 40px;
        z-index: 5; }
        /* line 31, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_coaches.sass */
        .coaches-inner .coach .inner .title .name, .coaches-inner .coach .inner .title .surname, .coaches-inner .coach .inner .title .status {
          display: block;
          margin: 0 auto; }
        /* line 34, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_coaches.sass */
        .coaches-inner .coach .inner .title .name {
          color: white;
          font-size: 48px;
          text-transform: uppercase;
          line-height: 1em; }
          @media only screen and (max-width: 767px) {
            /* line 34, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_coaches.sass */
            .coaches-inner .coach .inner .title .name {
              font-size: 32px; } }
        /* line 41, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_coaches.sass */
        .coaches-inner .coach .inner .title .surname {
          color: #b22b25;
          font-size: 36px;
          text-transform: uppercase;
          font-style: italic;
          line-height: 1em;
          margin: 10px auto; }
          @media only screen and (max-width: 767px) {
            /* line 41, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_coaches.sass */
            .coaches-inner .coach .inner .title .surname {
              font-size: 24px; } }
    /* line 51, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_coaches.sass */
    .coaches-inner .coach.active .inner .title .surname, .coaches-inner .coach.active .inner .title .name {
      text-shadow: 0 0 2px black;
      -webkit-text-shadow: 0 0 2px black;
      -moz-text-shadow: 0 0 2px black; }
    /* line 55, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_coaches.sass */
    .coaches-inner .coach.passive .inner .title .surname {
      color: #666666; }
    /* line 58, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_coaches.sass */
    .coaches-inner .coach .inner .title .status {
      color: white;
      font-size: 36px;
      line-height: 1em; }
      @media only screen and (max-width: 767px) {
        /* line 58, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_coaches.sass */
        .coaches-inner .coach .inner .title .status {
          font-size: 20px; } }
    /* line 64, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_coaches.sass */
    .coaches-inner .coach .inner .title .info {
      width: 280px;
      margin: 30px auto 0;
      padding: 20px 30px;
      background: rgba(255, 255, 255, 0.8);
      text-align: left;
      font-size: 16px;
      color: #484848;
      font-family: "Minion";
      -webkit-transition: All 0.3s ease;
      -o-transition: All 0.3s ease;
      transition: All 0.3s ease;
      opacity: 0;
      margin-bottom: -245px; }
      @media only screen and (max-width: 767px) {
        /* line 64, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_coaches.sass */
        .coaches-inner .coach .inner .title .info {
          font-size: 14px;
          line-height: 1.1em;
          padding: 10px 15px;
          margin: 0 auto -90px; } }
    /* line 81, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_coaches.sass */
    .coaches-inner .coach.active .inner .title .info {
      opacity: 1;
      margin-bottom: 0; }
    /* line 84, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_coaches.sass */
    .coaches-inner .coach:hover {
      z-index: 5; }
      /* line 86, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_coaches.sass */
      .coaches-inner .coach:hover .inner:after {
        opacity: 0; }
  /* line 88, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_coaches.sass */
  .coaches-inner #coach-matthew {
    left: 33.3333%; }
  /* line 90, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_coaches.sass */
  .coaches-inner #coach-dima {
    right: 0; }
  /* line 92, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_coaches.sass */
  .coaches-inner .coach .inner:after {
    content: "";
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -webkit-transition: All 0.5s ease;
    -o-transition: All 0.5s ease; }

/* line 106, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_coaches.sass */
#coach-alena {
  background-image: url("/images/coaches/alena.jpg");
  background-position: top left; }

/* line 110, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_coaches.sass */
#coach-matthew {
  background-image: url("/images/coaches/matthew.jpg"); }

/* line 113, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_coaches.sass */
#coach-dima {
  background-image: url("/images/coaches/dima.jpg"); }

/* line 1, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_clients.sass */
.logos-block {
  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -170px;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 40%;
  padding-right: 75px;
  -webkit-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  transition: All 0.5s ease; }
  @media only screen and (max-width: 979px) {
    /* line 1, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_clients.sass */
    .logos-block {
      padding-left: 75px;
      margin-top: 0;
      top: 15px; } }
  /* line 15, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_clients.sass */
  .logos-block.logos-1 {
    left: 0; }
  /* line 17, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_clients.sass */
  .logos-block.logos-2 {
    left: 100%; }
  /* line 19, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_clients.sass */
  .logos-block.logos-3 {
    left: 200%; }
  /* line 21, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_clients.sass */
  .logos-block.logos-4 {
    left: 300%; }

/* line 24, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_clients.sass */
.logos-container {
  position: relative;
  height: 100%;
  overflow: hidden; }
  /* line 28, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_clients.sass */
  .logos-container > .wrapper .clients-left {
    position: absolute;
    top: 50%;
    margin-top: -100px; }

/* line 34, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_clients.sass */
.clients-left {
  width: 40%;
  float: left; }

/* line 38, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_clients.sass */
.client {
  width: 33%;
  float: left;
  text-align: center;
  height: 160px;
  position: relative; }
  /* line 44, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_clients.sass */
  .client img {
    max-width: 150px;
    display: block;
    margin: 0 auto 20px; }

/* line 49, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_clients.sass */
.arrow-right-dark {
  position: absolute;
  width: 39px;
  height: 72px;
  background: url("/images/arrow-right-dark.png") no-repeat;
  top: 50%;
  right: 15px;
  margin-top: -36px;
  opacity: 0.8;
  -webkit-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  transition: All 0.5s ease;
  z-index: 3; }
  /* line 60, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_clients.sass */
  .arrow-right-dark:hover {
    opacity: 1; }

/* line 63, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_clients.sass */
.arrow-left-dark {
  position: absolute;
  width: 39px;
  height: 72px;
  background: url("/images/arrow-left-dark.png") no-repeat;
  top: 50%;
  left: 40%;
  margin-top: -36px;
  margin-left: -39px;
  opacity: 0.8;
  -webkit-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  transition: All 0.5s ease;
  z-index: 3; }
  /* line 75, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_clients.sass */
  .arrow-left-dark:hover {
    opacity: 1; }
  @media only screen and (max-width: 979px) {
    /* line 63, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_clients.sass */
    .arrow-left-dark {
      left: 15px;
      margin-left: 0; } }

/* line 81, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_clients.sass */
.feedbacks-1 {
  background-image: url("/images/bg/clients/ukrinbank.jpg"); }

/* line 84, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_clients.sass */
.feedbacks-2 {
  background-image: url("/images/bg/clients/alawar.jpg"); }

/* line 87, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_clients.sass */
.feedbacks-3 {
  background-image: url("/images/bg/clients/i-store.jpg"); }

/* line 90, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_clients.sass */
.feedbacks-4 {
  background-image: url("/images/bg/clients/alawar.jpg"); }

/* line 93, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_clients.sass */
.feedbacks-5 {
  background-image: url("/images/bg/clients/yug-contract.jpg"); }

/* line 96, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_clients.sass */
.feedbacks-6 {
  background-image: url("/images/bg/clients/univer.jpg"); }

/* line 99, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_clients.sass */
.feedbacks-7 {
  background-image: url("/images/bg/clients/prodigi.jpg"); }

/* line 102, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_clients.sass */
.feedbacks-8 {
  background-image: url("/images/bg/clients/tespro.jpg"); }

/* line 105, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_clients.sass */
.feedbacks-9 {
  background-image: url("/images/bg/clients/arcelor.jpg"); }

/* line 108, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_clients.sass */
.feedbacks-10 {
  background-image: url("/images/bg/clients/carat.jpg"); }

/* line 111, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_clients.sass */
.feedbacks-11 {
  background-image: url("/images/bg/clients/alawar.jpg"); }

/* line 114, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_clients.sass */
.feedbacks-12 {
  background-image: url("/images/bg/clients/alawar.jpg"); }

/* line 117, /Users/rave/work/teamcircles/teamcircles-source/source/stylesheets/sections/_clients.sass */
.feedbacks-13 {
  background-image: url("/images/bg/clients/alawar.jpg"); }
