#fullpage
  
  .section.page-about
    =image_tag "logo-light.png", class: "logo"
    .slide
      .wrapper.mtl.ptl
        .col1of2
          %h2.mbm Барабанный круг (Drum Circle) - это мощный командообразующий тренинг.
          %p.subtitle.mbm А также яркое событие для конференции, семинара,  корпоративного мероприятия.
          %a.button.about-button.active{href: "#page-about/about-description"} подробнее
    .slide.about-inner{:data => {anchor: "about-description"}}
      .wrapper.wide
        .sub-inner
          %h1 Зачем вашей компании нужен Drum Circle?
          %p.mbm Барабанный круг (Drum Circle) - это мощный командообразующий тренинг. А также яркое событие для конференции, семинара,  корпоративного мероприятия. Drum Circle  позволяет  каждому участнику  пройти  путь от отдельного индивидуума до неотъемлемого участника  всего «оркестра», переключиться  с  технического на  творческое мышление.
          %p.mbm
            Drum Circle - это музыкальное событие, в котором не нужен музыкальный опыт. Здесь каждый становится частью оркестра и творцом  своей музыки. В процессе тренинга  каждый участник  учится  быть в гармонии  с собой и учится слушать окружающих, что в результате улучшает коммуникацию в коллективе, укрепляет неформальные связи.
            Через  необычную форму : ритм и музыку этнических барабанов, перкуссии, и голоса, участники развивают в себе умение концентрироваться на работе в команде, вести диалог с помощью ритма, создавать свои композиции и управлять "оркестром".
            Мы предлагаем специально разработанные программы ориентированные для разных задач.
          %a.button.sub-content-back.active{href: "#page-about"} < назад
  
  .section.page-video
    =image_tag "logo-dark.png", class: "logo"
    .video-block.centered
      %iframe{allowfullscreen: "", frameborder: "0", height: "480", mozallowfullscreen: "", src: "//player.vimeo.com/video/78989591?title=0&byline=0&portrait=0&color=ff9933", webkitallowfullscreen: "", width: "640"}
  
  .section.page-trainings
    =partial "partials/trainings"
  
  .section.page-coaches
    =partial "partials/coaches"
  
  .section.page-clients
    Section 2
  
  .section.page-history
    .content-sub-bg
    .wrapper
      .col1of2
        %h2 История барабанных кругов
        %p.subtitle.mtm Барабанный Круг как тренинг придумал и запатентовал Артур Халл, барабанщик из США, который первым начал использовать барабаны для объединения людей. Более 25 лет Артур демонстрирует барабанные круги по всей планете, помогая тем самым создавать целостные социальные группы энтузиастов. Его практика доказала, что игра на барабанах в кругу помогает участникам настроиться на общую волну и в поcледствии преодолевать трудности в общении.
  
  .section.page-contacts
    =image_tag "logo-light.png", class: "logo"
    .wrapper.mtl.ptl
      .col1of2
        %h2 Матвей Фридман
        %p.subtitle.bigger.mbm ведущий тренер
        %h2 +38 067 282 83 43
        %p.subtitle.bigger.mbl matthewgodopata@gmail.com
        %br
        %br
        %a.button{href: "DrumCircle Presentation.pdf"} презентация

=partial "partials/footer"